<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Meu Modificador de tabelas Mongo</title>
    </head>
    <body>
        <form action="/" method="GET">
            <button type="submit">voltar </button>
        </form>
    </body>
</html>